<p>{{ escape(error) }}</p>
<h1>Please log in</h1>
<form action="/auth" method="post">
    {% module xsrf_form_html() %}
    User: <input type="text" name="username" autofocus><br>
    Password:  <input type="password" name="auth"><br>
    <input type="submit" value="Login">
</form>
<h1>Register as a new user</h1>
<form action="/register" method="post">
    {% module xsrf_form_html() %}
    User: <input type="text" name="username"><br>
    Password:  <input type="password" name="auth"><br>
    Re-type password:  <input type="password" name="authrepeat"><br>
    <input type="submit" value="Register new user.">
</form>
