*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  background: #BBB;
  /*background: #333;*/
}

#page-wrapper {
  background: #98A098;
  color: black;
}

#gamelist-canvas {
  background: #98A098;
  display: table;
}

.log {
  border: 2px solid black;
  max-height: 400px;
  overflow-y:scroll;
}

#heading {
  background: #333;
  color: #98A098;
  min-height: 23px;
}

#heading .title {
  float: left;
}

#heading .status {
  /*float: right;*/
}

.ui-tabs-nav {
  background: #333;
  padding-left: 5px;
  margin: 0 0 0 0;
  float:left;
  width: 70%
}

.ui-tabs-nav li {
  display: inline-block;
  background: #98A098;
  margin-top: 5px;
  white-space: nowrap;
}

.ui-tabs-nav li a {
  color: black;
  text-decoration: none;
  padding: 2px 6px 0 6px;
  background-color: #ccc;
  border: 1px solid blue;
  border-bottom: 1px solid #ccc;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

li.ui-tabs-active a {
  border: 2px solid green;
  border-bottom: 1px solid #98A098;
  background-color: #98A098;
  font-weight: bold;
}

.card-zone { 
  border: 2px solid #888;
  padding: 2px;
}

.card-container {
  min-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.card-container > * {
  display: inline-block;
}

.influence {
  border: 2px solid #888;
  padding: 2px;
  min-height: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
}

.influence > * {
  display: inline-block
}

.building-container {
  border: 2px solid #888;
  padding: 2px;
  min-height: 20px;
}

.building-container > * {
  display: inline-block;
}

.building {
  border: 2px solid #888;
  padding: 2px;
  min-height: 20px;
}
  
.building.active {
  border: 2px dashed #FB3;
}
  
.building.complete {
  border: 2px solid #FB3;
}
  
.building.selectable {
  border: 3px solid #4F4;
}
  
.building.selected {
  border: 3px solid #F22;
}

.player-box {
  border: 6px double black;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.player-title {
  font-weight: bold;
  padding-right: 15px;
}

#dialog-wrapper {
  border: 1px solid black;
  padding: 2px;
  margin-top: 2px;
  margin-bottom: 2px;
  background: #DDD;
}

#dialog {
  height: 150px;
}

.deck-container {
  min-height: 150px;
}

.deck-container > * {
  display:table;
}

.pile {
  width: 100px;
  height: 145px;
  border-radius: 6px;
  position:relative;
  float: left;
  border: 1px solid black;
  padding: 2px;
}
  
.pile.selectable {
  border: 3px solid #4F4;
  padding: 0px;
}

.pile.selected {
  border: 3px solid #F22;
  padding: 0px;
}


.pile-title {
  position: absolute;
  top: 4px;
  left: 4px;
  font-size: 20px;
}

.pile.selectable > .pile-title {
  top: 2px;
  left: 2px;
}

.pile-count {
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  z-index: 1;
  display: table-cell;
}

.card {
  width: 100px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  height: 40px;
  border-radius: 6px;
  padding: 7px 2px 2px 2px;
  overflow: hidden;
}

.card:hover {
  opacity: 0.7;
}

.card.selectable {
  border: 3px solid #4F4;
  padding: 5px 0 0 0;
}
  
.card.selected {
  border: 3px solid #F22;
  padding: 5px 0 0 0;
}

.sites-container .site {
  display: inline-block;
}

.sites-container {
  border: 2px solid #888;
  padding: 2px;
  min-height: 20px;
  height: 130px;
  width: 208px;
}

.material {
  width: 100px;
  border-width: 1px;
  border-style: solid;
  text-align: center;
  height: 40px;
  border-radius: 6px;
  padding: 7px 2px 2px 2px;
  overflow: hidden;
}

.orders {
  border-color: #000;
  color: black;
  background: repeating-linear-gradient(
      45deg,
      #AAA,
      #AAA 10px,
      #5F5 10px,
      #5F5 20px
  );
}

.stone {
  background: #5BC;
}

.marble {
  background: #B5B;
}

.brick {
  background: #D44;
}

.concrete {
  background: #AAA;
}

.wood {
  background: #A63;
}

.rubble {
  background: #FD4;
  color: #000;
}

.jack {
  background: #000;
  color: #FFF;
}

.site {
  width: 100px;
  border: 1px solid black;
  text-align: center;
  height: 40px;
  border-radius: 6px;
  padding: 7px 2px 2px 2px;
  background: #EEE;
  /* This limits the strips to the bottom part of the site
  background-size: 100% 40%;
  background-position: 0 100%;
  background-repeat: no-repeat;
  */
}

.site-title,.site-count {
  font-size: 14px;
  background: #EEE;
  border-radius: 2px;
  padding: 0px 2px 0px 2px;
}

.site:hover {
  opacity: 0.7;
}
  
.site.rubble {
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #FD4 10px, #FD4 20px);
}

.site.wood {
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #A63 10px, #A63 20px
  );
}

.site.concrete {
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #AAA 10px, #AAA 20px
  );
}

.site.brick {
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #D44 10px, #D44 20px
  );
}

.site.stone{
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #5BC 10px, #5BC 20px
  );
}

.site.marble {
  background-image: repeating-linear-gradient(
      45deg, #EEE, #EEE 10px, #B5B 10px, #B5B 20px
  );
}

.site.selectable {
  border: 3px solid #4F4;
  padding: 5px 0px 0px 0px;
}
  
.site.selected {
  border: 3px solid #F22;
  padding: 5px 0px 0px 0px;
}

.building > .site {
  height: 20px;
  padding: 1px 1px 1px 1px;
}

.building > .material {
  height: 10px;
}

.building > .stairway {
  height: 20px;
  padding: 1px 2px 1px 2px;
}

.status {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.open {
  color: green;
}

.closed {
  color: red;
}

#devtools {
  margin: 0 0 0 0;
  display: table;
}

#message-form {
  margin-left: 10px;
}

#title {
  font-weight: bold;
}

#gamelist li span {
  display: inline-block;
  width: 180px;
  font-weight: bold;
  font-size: 0.7rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: #CCC;
  margin-right: 10px;
}

#gamelist li {
  padding: 0.5rem 0.75rem;
  border-bottom: 1px solid #EEE;
}

#gamelist li:first-child {
  border-top: 1px solid #EEE;
}

.game-wrapper {
  display:table;
}

.cards-panel {
  display: table-cell;
  width: 70%;
  padding: 1px;
}

#gamestate-copy {
  width: 100%;
  height: 500px;
  margin-left: 10px;
}


textarea {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border: 1px solid #D9D9D9;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  min-height: 100px;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.6rem 1em;
  color: white;
  margin: 0 4px;
  text-align: center;
  background: #86b32d;
}

button.selectable {
  border: 3px solid #4F4;
}

button:hover {
  opacity: 0.75;
  cursor: pointer;
}

button[disabled]:hover {
  opacity:1.0;
  cursor:default;
}

button[disabled] {
  background: #cd9;
}

.close {
  color: #777;
  font: 14px/100% arial, sans-serif;
  position: absolute;
  text-decoration: none;
  text-shadow: 0 1px 0 #fff;
  top: 2px;
  right: 20px;
}

.close:after {
  content: '✖';
}

#error-dialog {
  font: 14px/100% arial, sans-serif;
  background: #fbb;
  border-radius: 3px;
  float: left;
  min-height: 1em;
  position: relative;
  width: 100%;
}

#error-container {
  padding: 10px;
}

#error-container:after {
  content: '';
  display: block;
  clear: both;
}

#error-dialog > ul {
  margin: 0;
  list-style-type: none;
  overflow:hidden;
  overflow-y:scroll;
  max-height: 4em;
  padding: 0px;
}

#error-dialog > ul > li:last-child {
  background: #f88;
  border-radius: 2px;
}

#error-dialog > ul > li {
  padding-top: 1px;
}
